<@d_cmsContentList extendNumber3=queryExtendNumber3 extendNumber4=queryExtendNumber4 status=queryStatus extend1=queryExtend1 categoryId=queryCategoryId extend3=queryExtend3 extend2=queryExtend2 extend4=queryExtend4 isDisable=queryIsDisable modelId=queryModelId title=queryTitle userId=queryUserId extendNumber2=queryExtendNumber2 startPublishDate=queryStartPublishDate endPublishDate=queryEndPublishDate extendNumber1=queryExtendNumber1 pageNo=pageNum count=numPerPage>
<form id="pagerForm" method="post">
	<#include "../include_page/queryParamters.html"/>
</form>
<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				
			</tr>
		</table>
		<#include "../include_page/searchBar.html"/>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="cmsContent/add.html" target="dialog"><span>添加</span></a></li>
			<li><a class="edit" href="cmsContent/add.html?navTabId=${navTabId!}&id={sid}" target="dialog"><span>修改</span></a></li>
			<li><a class="delete" href="cmsContent/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><span>删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="137">
		<thead>
			<tr>
				<th>标题</th>
				<th>发布用户</th>
				<th>分类</th>
				<th>模型</th>
				<th>是否转载</th>
				<th>来源</th>
				<th>作者</th>
				<th>编辑</th>
				<th>地址</th>
				<th>描述</th>
				<th>封面</th>
				<th>章节数</th>
				<th>分数</th>
				<th>评论数</th>
				<th>点击数</th>
				<th>发布日期</th>
				<th>创建日期</th>
				<th>状态</th>
				<th>已删除</th>
				<th>扩展字段1</th>
				<th>扩展字段2</th>
				<th>扩展字段3</th>
				<th>扩展字段4</th>
				<th>扩展数字字段1</th>
				<th>扩展数字字段2</th>
				<th>扩展数字字段3</th>
				<th>扩展数字字段4</th>
			</tr>
		</thead>
		<tbody>
			<#list t_list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.title!}</td>
				<td>${a.userId!}</td>
				<td><@d_cmsCategory id =a.categoryId>${t_bean.name}</@d_cmsCategory></td>
				<td>${a.modelId!}</td>
				<td>${a.isCopied?string('是','否')}</td>
				<td>${a.source!}</td>
				<td>${a.author!}</td>
				<td>${a.editor!}</td>
				<td>${a.url!}</td>
				<td>${a.description!}</td>
				<td>${a.cover!}</td>
				<td>${a.chapters!}</td>
				<td>${a.scores!}</td>
				<td>${a.comments!}</td>
				<td>${a.clicks!}</td>
				<td>${a.publishDate!}</td>
				<td>${a.createDate!}</td>
				<td>${a.status!}</td>
				<td>${a.isDisable!}</td>
				<td>${a.extend1!}</td>
				<td>${a.extend2!}</td>
				<td>${a.extend3!}</td>
				<td>${a.extend4!}</td>
				<td>${a.extendNumber1!}</td>
				<td>${a.extendNumber2!}</td>
				<td>${a.extendNumber3!}</td>
				<td>${a.extendNumber4!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
<#include "../include_page/page.html"/>
</div>
</@d_cmsContentList>