<div class="accordion" fillSpace="sidebar">
	<div class="accordionHeader">
		<h2><span>Folder</span>分类管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder">
			<li><a href="cmsCategory/list.html?navTabId=cmsCategory" target="navTab" rel="cmsCategory">栏目管理</a></li>
			<li><a href="cmsCategoryAttribute/list.html?navTabId=cmsCategoryAttribute" target="navTab" rel="cmsCategoryAttribute">栏目属性管理</a></li>
			<li><a href="cmsCategoryExtend/list.html?navTabId=cmsCategoryExtend" target="navTab" rel="cmsCategoryExtend">栏目扩展管理</a></li>
			<li><a href="cmsCategoryModel/list.html?navTabId=cmsCategoryModel" target="navTab" rel="cmsCategoryModel">栏目模型管理</a></li>
		</ul>
	</div>
</div>