<div class="accordion" fillSpace="sidebar">
	<div class="accordionHeader">
		<h2><span>Folder</span>模型管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder">
			<li><a href="cmsModel/list.html?navTabId=cmsModel" target="navTab" rel="cmsModel">模型管理</a></li>
			<li><a href="cmsModelExtend/list.html?navTabId=cmsModelExtend" target="navTab" rel="cmsModelExtend">模型扩展管理</a></li>
			<li><a href="cmsDictionary/list.html?navTabId=cmsDictionary" target="navTab" rel="cmsDictionary">数据字典管理</a></li>
		</ul>
	</div>
</div>