<div class="accordion" fillSpace="sidebar">
	<div class="accordionHeader">
		<h2><span>Folder</span>用户管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder">
			<li><a href="cmsCategory/list.html?navTabId=cmsCategory" target="navTab" rel="cmsCategory">分类管理</a></li>
			<li><a href="cmsCategoryAttribute/list.html?navTabId=cmsCategoryAttribute" target="navTab" rel="cmsCategoryAttribute">分类属性管理</a></li>
			<li><a href="cmsCategoryExtend/list.html?navTabId=cmsCategoryExtend" target="navTab" rel="cmsCategoryExtend">分类扩展管理</a></li>
			<li><a href="cmsCategoryModel/list.html?navTabId=cmsCategoryModel" target="navTab" rel="cmsCategoryModel">管理</a></li>
			<li><a href="cmsChapter/list.html?navTabId=cmsChapter" target="navTab" rel="cmsChapter">管理</a></li>
			<li><a href="cmsChapterAttribute/list.html?navTabId=cmsChapterAttribute" target="navTab" rel="cmsChapterAttribute">管理</a></li>
			<li><a href="cmsContent/list.html?navTabId=cmsContent" target="navTab" rel="cmsContent">内容管理</a></li>
			<li><a href="cmsContentAttribute/list.html?navTabId=cmsContentAttribute" target="navTab" rel="cmsContentAttribute">管理</a></li>
			<li><a href="cmsDictionary/list.html?navTabId=cmsDictionary" target="navTab" rel="cmsDictionary">管理</a></li>
			<li><a href="cmsDictionaryData/list.html?navTabId=cmsDictionaryData" target="navTab" rel="cmsDictionaryData">管理</a></li>
			<li><a href="cmsModel/list.html?navTabId=cmsModel" target="navTab" rel="cmsModel">管理</a></li>
			<li><a href="cmsModelExtend/list.html?navTabId=cmsModelExtend" target="navTab" rel="cmsModelExtend">管理</a></li>
			<li><a href="cmsSite/list.html?navTabId=cmsSite" target="navTab" rel="cmsSite">管理</a></li>
			<li><a href="cmsSiteUser/list.html?navTabId=cmsSiteUser" target="navTab" rel="cmsSiteUser">管理</a></li>
			<li><a href="cmsUser/list.html?navTabId=cmsUser" target="navTab" rel="cmsUser">管理</a></li>
			<li><a href="systemuser/list.html?navTabId=systemuser" target="navTab" rel="systemuser">会员管理</a></li>
			<li><a href="create.html" title="确定要生成内容列表吗?" target="ajaxTodo">内容列表生成</a></li>
		</ul>
	</div>
</div>