<div class="accordion" fillSpace="sidebar">
	<div class="accordionHeader">
		<h2><span>Folder</span>用户管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder">
			<li><a href="cmsSiteUser/list.html?navTabId=cmsSiteUser" target="navTab" rel="cmsSiteUser">站点用户管理</a></li>
			<li><a href="cmsUser/list.html?navTabId=cmsUser" target="navTab" rel="cmsUser">全站用户管理</a></li>
		</ul>
	</div>
	<div class="accordionHeader">
		<h2><span>Folder</span>日志管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder">
			<li><a href="logPassword/list.html?navTabId=logPassword" target="navTab" rel="logPassword">密码修改日志</a></li>
			<li><a href="logOperate/list.html?navTabId=logOperate" target="navTab" rel="logOperate">操作日志</a></li>
			<li><a href="logLogin/list.html?navTabId=logLogin" target="navTab" rel="logLogin">登录日志</a></li>
			<li><a href="logEmailCheck/list.html?navTabId=logEmailCheck" target="navTab" rel="logEmailCheck">邮件验证日志</a></li>
		</ul>
	</div>
</div>