<#if !queryIsDisable??><#assign queryIsDisable=0/></#if>
<@d_siteUserList siteId=querySiteId userId=queryUserId isAdmin=queryIsAdmin isDisable=queryIsDisable pageNo=pageNum count=numPerPage>
<form id="pagerForm" method="post">
	<#include "../include_page/queryParamters.html"/>
</form>
<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					已删除：<#include "../include_page/queryIsDisable.html"/>
				</td>
				<td>
					站点：<input type="text" name="querySiteId" value="${querySiteId!}" />
				</td>
				<td>
					用户：<input type="text" name="queryUserId" value="${queryUserId!}" />
				</td>
				<td>
					是否管理员：<input type="text" name="queryIsAdmin" value="${queryIsAdmin!}" />
				</td>
			</tr>
		</table>
		<#include "../include_page/searchBar.html"/>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="cmsSiteUser/add.html" target="dialog"><span>添加</span></a></li>
			<li><a class="edit" href="cmsSiteUser/add.html?navTabId=${navTabId!}&id={sid}" target="dialog"><span>修改</span></a></li>
			<li><a class="delete" href="cmsSiteUser/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><span>删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="137">
		<thead>
			<tr>
				<th>站点</th>
				<th>用户</th>
				<th>是否管理员</th>
				<th>已禁用</th>
			</tr>
		</thead>
		<tbody>
			<#list t_page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.siteId!}</td>
				<td>${a.userId!}</td>
				<td>${a.isAdmin!}</td>
				<td>${a.isDisable!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
<#include "../include_page/page.html"/>
</div>
</@d_siteUserList>