<@d_cmsDictionaryData id=id><#assign a=t_bean/></@d_cmsDictionaryData>
<div class="pageContent">
	<form method="post" action="cmsDictionaryData/save.do?callbackType=closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<input name="id" type="hidden" value="${id!}" />
		<div class="pageFormContent" layoutH="57">
			<dl>
				<dt>字典：</dt>
				<dd><input class="required" name="dictionaryId" type="text" size="30" value="${(a.dictionaryId)!}"/></dd>
			</dl>
			<dl>
				<dt>名称：</dt>
				<dd><input class="required" name="name" type="text" size="30" value="${(a.name)!}"/></dd>
			</dl>
			<dl>
				<dt>值：</dt>
				<dd><input class="required" name="value" type="text" size="30" value="${(a.value)!}"/></dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>