<@d_cmsDictionaryDataList name=queryName dictionaryId=queryDictionaryId pageNo=pageNum count=numPerPage>
<form id="pagerForm" method="post">
	<#include "../include_page/queryParamters.html"/>
</form>
<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					名称：<input type="text" name="queryName" value="${queryName!}" />
				</td>
				<td>
					字典：<input type="text" name="queryDictionaryId" value="${queryDictionaryId!}" />
				</td>
			</tr>
		</table>
		<#include "../include_page/searchBar.html"/>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="cmsDictionaryData/add.html" target="dialog"><span>添加</span></a></li>
			<li><a class="edit" href="cmsDictionaryData/add.html?navTabId=${navTabId!}&id={sid}" target="dialog"><span>修改</span></a></li>
			<li><a class="delete" href="cmsDictionaryData/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><span>删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="137">
		<thead>
			<tr>
				<th>字典</th>
				<th>名称</th>
				<th>值</th>
			</tr>
		</thead>
		<tbody>
			<#list t_list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.dictionaryId!}</td>
				<td>${a.name!}</td>
				<td>${a.value!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
<#include "../include_page/page.html"/>
</div>
</@d_cmsDictionaryDataList>