<@d_cmsCategoryExtendList extendType=queryExtendType cateoryId=queryCateoryId type=queryType pageNo=pageNum count=numPerPage>
<form id="pagerForm" method="post">
	<#include "../include_page/queryParamters.html"/>
</form>
<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					扩展类型：<input type="text" name="queryExtendType" value="${queryExtendType!}" />
				</td>
				<td>
					栏目：<input type="text" name="queryCateoryId" value="${queryCateoryId!}" />
				</td>
				<td>
					类型：<input type="text" name="queryType" value="${queryType!}" />
				</td>
			</tr>
		</table>
		<#include "../include_page/searchBar.html"/>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="cmsCategoryExtend/add.html" target="dialog"><span>添加</span></a></li>
			<li><a class="edit" href="cmsCategoryExtend/add.html?navTabId=${navTabId!}&id={sid}" target="dialog"><span>修改</span></a></li>
			<li><a class="delete" href="cmsCategoryExtend/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><span>删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="137">
		<thead>
			<tr>
				<th>栏目</th>
				<th>扩展类型</th>
				<th>名称</th>
				<th>描述</th>
				<th>类型</th>
				<th>字段</th>
				<th>表单类型</th>
				<th>默认值</th>
			</tr>
		</thead>
		<tbody>
			<#list t_list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.cateoryId!}</td>
				<td>${a.extendType!}</td>
				<td>${a.name!}</td>
				<td>${a.description!}</td>
				<td>${a.type!}</td>
				<td>${a.code!}</td>
				<td>${a.inputType!}</td>
				<td>${a.defaultValue!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
<#include "../include_page/page.html"/>
</div>
</@d_cmsCategoryExtendList>