<@d_categoryList extendNumber3=queryExtendNumber3 extendNumber4=queryExtendNumber4 parentId=queryParentId siteId=querySiteId extend1=queryExtend1 name=queryName extend3=queryExtend3 extend2=queryExtend2 extend4=queryExtend4 extendNumber2=queryExtendNumber2 isDisable=queryIsDisable extendNumber1=queryExtendNumber1 pageNo=pageNum count=numPerPage>
<form id="pagerForm" method="post">
	<#include "../include_page/queryParamters.html"/>
</form>
<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					扩展数字字段3：<input type="text" name="queryExtendNumber3" value="${queryExtendNumber3!}" />
				</td>
				<td>
					扩展数字字段4：<input type="text" name="queryExtendNumber4" value="${queryExtendNumber4!}" />
				</td>
				<td>
					父分类：<input type="text" name="queryParentId" value="${queryParentId!}" />
				</td>
				<td>
					站点：<input type="text" name="querySiteId" value="${querySiteId!}" />
				</td>
				<td>
					扩展字段1：<input type="text" name="queryExtend1" value="${queryExtend1!}" />
				</td>
				<td>
					名称：<input type="text" name="queryName" value="${queryName!}" />
				</td>
				<td>
					扩展字段3：<input type="text" name="queryExtend3" value="${queryExtend3!}" />
				</td>
				<td>
					扩展字段2：<input type="text" name="queryExtend2" value="${queryExtend2!}" />
				</td>
				<td>
					扩展字段4：<input type="text" name="queryExtend4" value="${queryExtend4!}" />
				</td>
				<td>
					扩展数字字段2：<input type="text" name="queryExtendNumber2" value="${queryExtendNumber2!}" />
				</td>
				<td>
					是否删除：<input type="text" name="queryIsDisable" value="${queryIsDisable!}" />
				</td>
				<td>
					扩展数字字段1：<input type="text" name="queryExtendNumber1" value="${queryExtendNumber1!}" />
				</td>
			</tr>
		</table>
		<#include "../include_page/searchBar.html"/>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="cmsCategory/add.html" target="dialog"><span>添加</span></a></li>
			<li><a class="edit" href="cmsCategory/add.html?navTabId=${navTabId!}&id={sid}" target="dialog"><span>修改</span></a></li>
			<li><a class="delete" href="cmsCategory/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><span>删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="137">
		<thead>
			<tr>
				<th>站点</th>
				<th>名称</th>
				<th>父分类</th>
				<th>英文名</th>
				<th>路径</th>
				<th>列表路径</th>
				<th>路径1</th>
				<th>列表路径1</th>
				<th>内容路径</th>
				<th>内容路径1</th>
				<th>每页数据</th>
				<th>是否删除</th>
				<th>内容数</th>
				<th>扩展字段1</th>
				<th>扩展字段2</th>
				<th>扩展字段3</th>
				<th>扩展字段4</th>
				<th>扩展数字字段1</th>
				<th>扩展数字字段2</th>
				<th>扩展数字字段3</th>
				<th>扩展数字字段4</th>
			</tr>
		</thead>
		<tbody>
			<#list t_page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.siteId!}</td>
				<td>${a.name!}</td>
				<td>${a.parentId!}</td>
				<td>${a.englishName!}</td>
				<td>${a.path!}</td>
				<td>${a.listPath!}</td>
				<td>${a.path1!}</td>
				<td>${a.listPath1!}</td>
				<td>${a.contentPath!}</td>
				<td>${a.contentPath1!}</td>
				<td>${a.pageSize!}</td>
				<td>${a.isDisable!}</td>
				<td>${a.contents!}</td>
				<td>${a.extend1!}</td>
				<td>${a.extend2!}</td>
				<td>${a.extend3!}</td>
				<td>${a.extend4!}</td>
				<td>${a.extendNumber1!}</td>
				<td>${a.extendNumber2!}</td>
				<td>${a.extendNumber3!}</td>
				<td>${a.extendNumber4!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
<#include "../include_page/page.html"/>
</div>
</@d_categoryList>